@font-face {
    font-family: 'Rubik-Regular';
    src: url('./assets/fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('./assets/fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Merriweather-Black';
    src: url('./assets/fonts/Merriweather-Black.ttf');
}