@import 'variables';

.background-img {
    background-image: linear-gradient(rgba(30, 30, 30, 0.3), rgba(30, 30, 30, 0.3)), url('./assets/images/headerBg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.header {
    height: 100vh;
    color: $text_white;
    display: flex;
    flex-direction: column;

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            transform: translateY(-70px);
        }

        .subtitle {
            margin-bottom: 10px;
            transform: translateY(-70px);
        }
    }
}

.social {
    position: absolute;
    top: 45%;
    right: -180px;
    display: flex;
    transform: rotate(90deg);

    &__link {
        list-style: none;
        margin-inline: 40px;
        cursor: pointer;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

//============NAVIGATION==============//

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        flex: 1;
    }
}

.nav__menu {
    list-style: none;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
}

.menu__link {
    cursor: pointer;
    margin-inline: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 130ms ease-in-out;

    &:hover {
        background-color: #FFF;
        color: rgb(40, 40, 40);
    }
}

@media (max-width: 992px) {
    .nav {
        &__logo {
            flex: none;
        }

        &__menu {
            width: 67%;
        }
    }
}

@media (max-width: 796px) {
    .header {
        &__content {
            .title {
                font-size: 2rem;
            }
        }
    }
}
//============NAVIGATION==============//