doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title EcoCabins
    body
        .background-img
            .container
                header.header
                    nav.nav
                        a.nav__logo(href="#") 
                            img(src="assets/images/Logo.svg", alt="Logo")
                        ul.nav__menu
                            li.menu__link 
                                a(href="#") Modellen
                            li.menu__link 
                                a(href="#") Kopen
                            li.menu__link 
                                a(href="#") Huren
                            li.menu__link 
                                a(href="#") Nieuws
                            li.menu__link 
                                a(href="#") Contact
                        .burger
                            .line-1
                            .line-2
                    .header__content
                        h3.subtitle Duurzame tiny huisjes
                        h1.title Een ecologisch tiny huisje is zoveel mogelijk opgebouwd uit duurzame natuurlijke materialen
                        ul.social
                            li.social__link
                                a(href="#")  Instagram
                            li.social__link
                                a(href="#")  Facebook
                            li.social__link
                                a(href="#")  Linkedin
        section.materials
            .container
                .materials__content
                    h1.title Duurzame materialen
                    p.text.
                        Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd 
                        met indien mogelijk duurzame en/of natuurlijke materialen en hebben als 
                        opvallende uiterlijke kenmerk de ‘ronde hoeken’, mogelijk gemaakt door het 
                        specifieke materiaalgebruik. De voordelen van bouwen met hout zijn legio: hout 
                        is licht, flexibel, isoleert goed en bouwt snel en efficiënt.
                    button.button Lees meer
                .materials__slider
        section.innovatie
            .container
                h1.title Innovatie
                .innovatie__text
                    p.text. 
                        Wij hebben als doel om de EcoCabins voortdurend verder te ontwikkelen 
                        en innoveren, zodat de EcoCabins uiteindelijk 100% duurzaam en circulair zijn. 
                        Voorwaarde hierbij is dat de EcoCabins betaalbaar blijven. Met behulp van de zon, 
                        de wind en de beste isolatie geniet u van.
                    p.text. 
                        Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd met indien 
                        mogelijk duurzame en/of natuurlijke materialen en hebben als opvallende uiterlijke 
                        kenmerk de ‘ronde hoeken’, mogelijk gemaakt door het specifieke materiaalgebruik 
                        De voordelen van bouwen.
        section.advantages
            .container
                .advantages__content
                    .content__image
                        img(src="assets/images/house.svg", alt="House")
                    .content__blocks
                        div 
                            h4.title Hout
                            p.text De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam en.
                        div 
                            h4.title Glaswol isolatie
                            p.text De combinatie van glaswol met een houtskelet constructie geeft een.
                        div 
                            h4.title Afwerking
                            p.text De draagconstructies van EcoCabins bestaan uit hout. Hout is duurzaam en.
                        div 
                            h4.title Triple glas
                            p.text De combinatie van glaswol met een houtskelet constructie geeft een.
                        div 
                            h4.title Stalen onderstel
                            p.text Het stalen onderstel is sterk zijn en heeft de benodigde stijfheid die
                        div 
                            h4.title Infrarood vloer
                            p.text De vloer wordt opgewarmd middels opgewekte warmte uit eigen zonne-energie.
        footer.footer
            .container
                h5.subtext 
                    a(href="#") info@eco-cabins.com
                a(href="#")
                    img(src="assets/images/Logo.svg", alt="Logo")
                .footer__info
                    h5.subtext 
                        a(href="#") Cookies
                    h5.subtext 
                        a(href="#") Privacybeleid
        script(src="index.min.js") 